<form action="/tasks" method="POST">
<select name="task[priority]">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>
<input type="text" name="task[description]">
<input type="text" name="tags">
<input type="submit">
</form>