<div class="task">
<p class="description"><%= task.description %></p>
<form action="/task/<%= task.id %>" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="DELETE!">
</form>
</div>